name: portfolio
description: "Minimal & clean Flutter portfolio (Home screen)"
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: ">=2.18.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter
  provider: ^6.1.5
  url_launcher: ^6.1.10
  web: ^1.1.1
  font_awesome_flutter: ^10.12.0
  google_fonts: ^6.3.2
  visibility_detector: ^0.4.0+2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.0

flutter:
  uses-material-design: true
  assets:
    - assets/images/
    - assets/files/hayan_cv.pdf
